In [172]:
# 元组
tup = 4, 5, 6
tup

(4, 5, 6)

In [173]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [174]:
# tuple() : 其它 --> 元组
tuple([4, 0, 2])

(4, 0, 2)

In [175]:
tup = tuple('String')
tup

('S', 't', 'r', 'i', 'n', 'g')

In [176]:
# 使用 [] 获取 元组中的元素
tup[0]

'S'

In [177]:
tup  = tuple(['foo', [1, 2], True])
# tup[2] = False    # 元组一旦创建，则不能修改

In [178]:
tup

('foo', [1, 2], True)

In [179]:
tup[1].append(3)    # 元组里面存放的元素有列表， 则列表是可以修改的。
tup

('foo', [1, 2, 3], True)

In [180]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [181]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [182]:
tup = (4, 5, 6)
a, b, c = tup       # 元组拆包
b

5

In [183]:
tup = 4, 5, (6, 7)

In [184]:
tup

(4, 5, (6, 7))

In [185]:
a, b, (c, d) = tup

In [186]:
a

4

In [187]:
b

5

In [188]:
c

6

In [189]:
d

7

In [190]:
# 交换变量
a, b = 1, 2

In [191]:
a

1

In [192]:
b

2

In [193]:
a, b = b, a
a

2

In [194]:
b

1

(2, 1)

In [195]:
# 拆包的一个常用场景就是遍历元组或列表组成的序列
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [196]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [197]:
values = 1, 2, 3, 4, 5
a, b, *rest  = values
a, b

(1, 2)

In [198]:
rest

[3, 4, 5]

In [199]:
# rest 部分有时表示你想丢弃的数据，rest 这个变量名并没有什么特殊之处，为了方便，有时使用 ‘_’来表示不想要的变量。
a, b, *_ = values
_

[3, 4, 5]

In [200]:
# 元组方法：count()
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)          # 计算某个数值在元组中出现的次数

4

In [201]:
# 列表
# 长度可变，内容可修改
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [202]:
b_list

['foo', 'bar', 'baz']

In [203]:
b_list[1] = 'peekaboo'

In [204]:
b_list

['foo', 'peekaboo', 'baz']

In [205]:
gen = range(10)

In [206]:
gen

range(0, 10)

In [207]:
list(gen)   # 将迭代器或者生成器转化为列表

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [208]:
b_list.append('dwarf')  # append() : 将元素添加大列表的尾部

In [209]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [210]:
b_list.insert(1, 'red') # insert(索引位置, 插入的内容)：把内容插入到索引位置之前

In [211]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [212]:
b_list.insert(1, 'green')

In [213]:
b_list

['foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf']

In [214]:
b_list.insert(0, 'white')

In [215]:
b_list

['white', 'foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf']

In [216]:
import collections
# help(collections.deque)
b = collections.deque(b_list)
b.append('apple')

In [217]:
b_list

['white', 'foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf']

In [218]:
list(b)

['white', 'foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf', 'apple']

In [219]:
b.appendleft('banana')

In [220]:
b

deque(['banana',
       'white',
       'foo',
       'green',
       'red',
       'peekaboo',
       'baz',
       'dwarf',
       'apple'])

In [221]:
list(b)

['banana', 'white', 'foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf', 'apple']

In [222]:
b_list

['white', 'foo', 'green', 'red', 'peekaboo', 'baz', 'dwarf']

In [223]:
b_list.pop(1)       # 通过索引删除

'foo'

In [224]:
b_list

['white', 'green', 'red', 'peekaboo', 'baz', 'dwarf']

In [225]:
b_list.append('green')

In [226]:
b_list

['white', 'green', 'red', 'peekaboo', 'baz', 'dwarf', 'green']

In [227]:
b_list.remove('green')  # 根据值删除

In [228]:
b_list

['white', 'red', 'peekaboo', 'baz', 'dwarf', 'green']

In [229]:
'drwarf' in b_list

False

In [230]:
'dwarf' in b_list

True

In [231]:
'dwarf' not in b_list

False

In [232]:
# 连接 和 联合列表
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [233]:
x = [4, None, 'foo']

In [234]:
x.extend([7, 8, (2, 3)])

In [235]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [236]:
# 排序 ： sort
a = [7, 2, 5, 1, 3]

In [237]:
a.sort()

In [238]:
a

[1, 2, 3, 5, 7]

In [249]:
# 根据列表中字符串的长度进行排序
b = ['saw', 'small', 'He', 'foxes', 'six']

In [250]:
b.sort(key = len)

In [251]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [252]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]

In [253]:
bisect.bisect(c, 2)

4

In [254]:
bisect.bisect(c, 5)

6

In [255]:
bisect.insort(c, 6)

In [256]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [1]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [2]:
seq[1:5]

[2, 3, 7, 5]

In [3]:
seq[3:4] = [6, 3]

In [4]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [5]:
seq[:5]

[7, 2, 3, 6, 3]

In [6]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [7]:
seq[-4:]

[5, 6, 0, 1]

In [9]:
seq[-6 : -2]

[6, 3, 5, 6]

In [11]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [12]:
seq[::2]

[7, 3, 3, 6, 1]

In [15]:
seq[::-1]   # 列表进行反转

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [21]:
# 函数：内建序列函数
# 以前：
collection = [1, 3, 5, 7, 9]
i = 0
for value in collection:
    i += 1
    print('i = {0}'.format(i))
print(i)
# 1.  enumerate : 遍历一个序列的同时，追踪当前元素的索引，返回(i, value)
# i 是索引， value 是元素的值
for i, value in enumerate(collection):
    # 使用值做点事
    print('i = {0} value = {1}'.format(i, value))

i = 1
i = 2
i = 3
i = 4
i = 5
5
i = 0 value = 1
i = 1 value = 3
i = 2 value = 5
i = 3 value = 7
i = 4 value = 9

In [24]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [25]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [28]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [29]:
# zip:
seq1 = ['foo', 'bar', 'baz']

In [30]:
seq2 = ['one', 'two', 'three']

In [31]:
zipped = zip(seq1, seq2)

In [33]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [34]:
seq3 = [False, True]

In [35]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [36]:
picthers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [37]:
first_names, last_names = zip(*picthers)   # 传入的参数注意一下

In [38]:
first_names

('Nolan', 'Roger', 'Schilling')

In [39]:
last_names

('Ryan', 'Clemens', 'Curt')

In [40]:
# reversed 函数：
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
reversed(range(10))   # reversed是生成器

In [43]:
# dict : 字典 存放键值对，相当于是 Java中的 Map对象
# Map map = new HashMap();
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [44]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [45]:
d1[7] = 'an integer'

In [46]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [48]:
d1['b']

[1, 2, 3, 4]

In [49]:
'b' in d1

True

In [50]:
# 可以使用 del关键字 或 pop方法删除值
d1[5] = 'some value'

In [51]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [52]:
d1['dummy'] = 'another value'

In [53]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [54]:
del d1[5]

In [55]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [57]:
ret = d1.pop('dummy')

In [58]:
ret

'another value'

In [59]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [62]:
list(d1.keys())

['a', 'b', 7]

In [65]:
if not False and True:
    print("True")
else:
    print('False')

True

In [68]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [69]:
# 将 2 个字典合并
d1.update({'b' : 'foo', 'c' : 12})

In [70]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [81]:
# 序列生成字典：
key_list = ['a', 'b', 'c', 'd']
value_list = [1, 2, 3, 4]
ziped = zip(key_list, value_list)
ziped
list(ziped)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [86]:
mapping = {}    # 定义空的字典（dict）
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [87]:
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [94]:
list(range(5))

[0, 1, 2, 3, 4]

In [93]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [98]:
mapping = dict(zip(range(5), reversed(range(5))))

In [99]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [106]:
# 通常情况下会有这样的逻辑：
some_dict = {'a' : '3', 'b' : 2, 'c' : 1, 'd' : 4}
default_value = 0
key = 'd'
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [107]:
value

4

In [102]:
# 以上逻辑可以使用一句话来实现：
#  value = some_dict.get(key, default_value)

In [116]:
key = 'f'
value = some_dict.get(key)  # 若空，则返回None

In [119]:
value

In [120]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [121]:
by_letter = {}

In [122]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [130]:
by_letter
# {'a' : ['apple', 'atom'], 'b' : ['bat', 'bar', 'book']}

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [134]:
by_list = ['apple']
by_list.append('banana')
by_list
# string = 'apple'    
# string[0] = 'x'     # 字符串是不可变对象
# string

['apple', 'banana']

In [137]:
# 上述可以使用 setDefault() 方法
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}  # 定义空字典：用来存放键值对
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [138]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [166]:
from collections import defaultdict
by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

In [162]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [167]:
# 字典的键 必须是不可变对象，比如标量类型（整数、浮点数、字符串）或元组（且元组内是不可变对象）
hash('string')  # 使用 hash() 函数检查一个对象是否可以哈希化。

313112847924952931

In [168]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [171]:
hash((1, 2, [2, 3]))    # 会因为列表是可变的失败

TypeError: unhashable type: 'list'

In [172]:
# 为了将列表作为键：列表 --> 元组
d = {}
d[tuple([1, 2, 3])] = 5

In [173]:
d

{(1, 2, 3): 5}

In [175]:
# 集合 ： set 是 一个无序 且 元素 唯一的容器。有2种创建方式
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [176]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [177]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [178]:
a.update(b)     # 并集

In [179]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [180]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [183]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.intersection(b)   # 交集

{3, 4, 5}

In [184]:
a & b

{3, 4, 5}

In [185]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [187]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.difference(b)

{1, 2}

In [188]:
a.symmetric_difference(b)

{1, 2, 6, 7, 8}

In [195]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3, 4, 5, 6}
a.issubset(b)

True

In [197]:
a = {1, 2, 3, 4, 5}
b = {1, 2}
a.issuperset(b)

True

In [199]:
a = {1, 2, 3, 4, 5}
b = {7, 8}
a.isdisjoint(b)

True

In [204]:
a = {1, 2, 3, 4, 5}
b = {7, 8}
c = a.copy()

In [205]:
c |= b  # b 并 c 赋值给 c

In [206]:
c

{1, 2, 3, 4, 5, 7, 8}

In [210]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
d = a.copy()
d &= b          # d 交 b 赋值给 d

In [211]:
d

{3, 4, 5}

In [214]:
# 集合中的元素必须是不可变的：
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}

In [215]:
my_set

{(1, 2, 3, 4)}

In [216]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)   # a 是否 是 b 的子集

True

In [220]:
a_set.issuperset({1, 2, 3})   # 包含

True

In [221]:
# 列表推导式：
# 基本语法：[expr for val in collection if condition] 与下面的for循环是等价的
# result = []
# for val in collection:
#     if condition:
#         result.append(expr)

In [231]:
# 原始方式测试：给定一个字符串列表，求长度大于2的，并且将字母改写为大写存放到列表中。
result = []
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
for val in strings:
    if len(val) > 2:
        result.append(val.upper())
result

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [237]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
[value.upper() for value in strings if len(value) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [239]:
# 集合、字典推导式和列表推导式类似
# 假如给一个字符串，我们要用集合存储字符串长度。
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [245]:
# 也可以使用map函数: 迭代每一个string 中字符串求长度
set(map(len, strings))

{1, 2, 3, 4, 6}

In [247]:
# 字典推导式
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping
# {'a' : 0, 'as' : 1, 'bat' : 2, 'car' : 3, 'dove' : 4, 'python' ： 5}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [261]:
# 记录列表中一个字符重复的个数，用字典表示
strings = ['a', 'b', 'c', 'a', 'd', 'c', 'a']
# 理想结果：{'a' : 3, 'b' : 1, 'c' : 2, 'd' : 1}
import collections
c = collections.Counter()
c = collections.Counter('gallahad')
c
c = collections.Counter({'red': 4, 'blue': 2})
c
c = collections.Counter(cats=4, dogs=8)
c

Counter({'cats': 4, 'dogs': 8})

In [264]:
c = collections.Counter(strings)
c

Counter({'a': 3, 'b': 1, 'c': 2, 'd': 1})

In [303]:
my_list = ['I', 'love', 'China']
my_list2 = ['apple', 'banana']
# my_list.append(my_list2)
my_list.extend(my_list2)    # 一次性追加另一个序列的多个值
my_list
# string = 'Steven'
# string.count('e')   # 字符串

['I', 'love', 'China', 'apple', 'banana']

In [306]:
# 获得一个列表中包含有 2 个以上字母 e 的名字。
all_data = [['Johh', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [311]:
# 嵌套列表推导式 for x in tup 是 过滤条件放在尾部
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [313]:
# 列表推导式 中的 列表推导式：
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
# 函数
string = 'I love China!'
string.replace('o', 'x')

'I lxve China!'

In [19]:
def f():        # 类名加 () 啥意思？错了，这是定义的函数
    pass
print(type(f()))

<class 'NoneType'>

In [27]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [28]:
func()
a

[0, 1, 2, 3, 4]

In [35]:
a = None            # 这是全局变量
def bind_a_variable():
    global a        # 把a设置为全局变量   
    a = [1, 2, 3]   # 这是局部变量，如果想要在函数内部操作全局变量，使用 global 关键字
bind_a_variable()
a

[1, 2, 3]

In [37]:
# Python中 函数可以返回多个值：
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()   # 返回的是元组

In [40]:
print(a)
print(b)
print(c)

5
6
7

In [41]:
return_value = f()

In [42]:
return_value

(5, 6, 7)

In [44]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}  # 这里的a/b/c 是变量

In [45]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [50]:
# Python 中函数也是对象
# 假如需要处理以下的字符串:去除空格, 去除标点符号,调整大小写
states = ['   Alabama', 'Georgial']

In [51]:
import re
def clean_string(strings):
    result = []
    for value in strings:
        value = value.strip()   # 去除空格
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [52]:
clean_string(states)

['Alabama', 'Georgial']

In [71]:
string = ' apple eat?,banana,happy '
string = string.strip()  # 去除两端的空格
import re
string = re.sub('!#?', '', string) # (匹配符, 要替换的值, 被查找的原始字符串)
string.title()  # 单词首字母大写

'Apple Eat?,Banana,Happy'

In [70]:
string

'appl eat?,banana,happy'

In [67]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [85]:
states = ['    Alabama  ', 'Georgial!', 'Georgia', 'georgia', 'FlOrIda',
              'south   carolina##', 'West virginia?']  # 要清洗的字符串

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)   # 移除标点符号

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):    # string : 存放字符串集合; ops : 特定的列表操作
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [86]:
clean_up

[<method 'strip' of 'str' objects>,
 <function __main__.remove_punctuation(value)>,
 <method 'title' of 'str' objects>]

In [87]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgial',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [90]:
# 可以将函数作为一个参数传给其他的函数
for x in map(remove_punctuation, states): # 字符串 states 迭代每一个串，执行remove_punctuation，结果输出
    print(x)

    Alabama
Georgial
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [92]:
for x in states:
    print(remove_punctuation(x))    # 已上代码等价于这个代码

    Alabama
Georgial
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [91]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [93]:
# 匿名（Lambda）函数: 通过单个语句生成函数的方式，其结果是返回值。 
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2    # 简单来说： 匿名函数就是不写函数名字的函数

In [94]:
equiv_anon

In [97]:
short_function(4)

8

In [98]:
equiv_anon(4)

8

In [100]:
# 举个例子：给一个列表 ints, 把该列表的元素扩大2倍，生成一个新的列表。
ints = [4, 0, 1, 5, 6]
[x * 2 for x in ints]

[8, 0, 2, 10, 12]

In [102]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)    # 匿名函数作为函数的形参传入

[8, 0, 2, 10, 12]

In [113]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [12]:
# 定义列表变量时尽量不要使用 list 关键字，会引起冲突
my_list = ['apple', 'orange', 'banana', 'watermelon', 'pear']
my_list.sort(key = lambda x: len(x))    # 根据列表中每个字符串的长度排序
my_list

['pear', 'apple', 'orange', 'banana', 'watermelon']

In [16]:
x = 'foo'
set(list(x))    # 把字符串放到列表里，然后去除重复的字符
my_list.sort(key = lambda x: len(set(list(x))))  # 根据列表中字符串的种类排序
my_list

['banana', 'pear', 'apple', 'orange', 'watermelon']

In [18]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key= lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [23]:
def getMaxValue(x, y):
    return x if x > y else y

In [25]:
getMaxValue(2,7)
getMaxValue.__name__

'getMaxValue'

In [31]:
# 柯里化 ：部分参数应用 ： 这个名字是以一个数学家人名命名的，实际表示通过部分参数从一个函数中衍生出另一个新的函数
# eg:把2个数加在一起：
def add_numbbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y) # add_five 对于 add_numbbers 就是 柯里化 了

In [33]:
add_five(1)    # 调用匿名函数

6

In [34]:
# 可以用系统自带的包
from functools import partial
add_five = partial(add_numbbers, 5)

add_five(1)

6

In [35]:
help(partial)

Help on class partial in module functools:

class partial(builtins.object)
 |  partial(func, *args, **keywords) - new function with partial application
 |  of the given arguments and keywords.
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |
 |  args
 |      tuple of arguments to future partial calls
 |
 |  func
 |      function object to use in future partial calls
 |
 |  keywords
 |      dictionary of keyword arguments to future partial calls

In [50]:
def show(x, y, *args):
    print(x,y)
    print(args)
    for arg in args:
        print(arg)

In [51]:
show(1, 2)

1 2
()

In [52]:
show(1, 2, 3, 4, 'i') # 把超过2个的自变量自动转变为元组进行传递

1 2
(3, 4, 'i')
3
4
i

In [55]:
show(1,2, (4, 5), (6, 7))

1 2
((4, 5), (6, 7))
(4, 5)
(6, 7)

In [89]:
def showTwoStar(x, y, **keywords):  # 以 字典 形式 传入
    print(x,y)
    print(keywords)
    for key in keywords:
        print(key)
        print(keywords[key])

In [78]:
showTwoStar(1, 2)

1 2
{}

In [90]:
showTwoStar(1, 2, a = 1, b = 2)

1 2
{'a': 1, 'b': 2}
a
1
b
2

In [3]:
# 生成器：
some_dict = {'a' : 1, 'b' : 2, 'c' : 3}
for key in some_dict:
    print(key)

a
b
c

In [4]:
dict_iterator = iter(some_dict)     # 生成 字典的迭代器对象
dict_iterator

In [5]:
list(dict_iterator)                 # 把迭代器赋值到列表中

['a', 'b', 'c']

In [25]:
for key in dict_iterator:   # 一个迭代器对象只能迭代一次
    print(key)

In [19]:
# 生成器
def squares(n = 10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n+1):
        yield i ** 2    # 把 return 换成 yield ，即创建了一个生成器
    
gen = squares() # 当你调用生成器时，代码并不会立即执行。

In [20]:
gen

In [21]:
# list(gen)

In [22]:
# 请求生成器中的元素时，它才会执行它的代码
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [38]:
for i in range(11):
    print(i, end=' ') # end='空格或者其他字符' ： 表示输出结果以行展示，每个元素之间以 ‘空格或者其他字符’ 隔开

0 1 2 3 4 5 6 7 8 9 10

In [39]:
# 生成器表达式：
gen = (x ** 2 for x in range(100))

In [40]:
gen

In [42]:
# 以上代码等价于：
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
gen

In [43]:
# 在很多情况下，生成器表达式可以作为函数参数用于替代列表推倒式。
sum((x ** 2 for x in range(4)))

14

In [44]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [60]:
# itertools 模块
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):    # itertools.groupby() :通过函数的返回值，对序列中连续的元素进行分组
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [58]:
itertools.groupby(names, first_letter)

In [68]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for one, two in itertools.combinations(names, 2):   # 求 names序列中2个元素的 组合
    print((one, two))

('Alan', 'Adam')
('Alan', 'Wes')
('Alan', 'Will')
('Alan', 'Albert')
('Alan', 'Steven')
('Adam', 'Wes')
('Adam', 'Will')
('Adam', 'Albert')
('Adam', 'Steven')
('Wes', 'Will')
('Wes', 'Albert')
('Wes', 'Steven')
('Will', 'Albert')
('Will', 'Steven')
('Albert', 'Steven')

In [70]:
# 错误和异常处理
float('1.2345')     # float()函数 ：把字符类型的小数转化为浮点数，但是不正确的输入会产生ValueError：

1.2345

In [71]:
# float('something')

ValueError: could not convert string to float: 'something'

In [72]:
def attemp_float(x):
    try:
        return float(x)
    except:
        return x

In [75]:
attemp_float('something')

'something'

In [83]:
# float((1, 2))
def attemp_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [84]:
# attemp_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [1]:
def attemp_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

In [2]:
attemp_float((1, 2))

(1, 2)

In [3]:
# f = open(path, w)
# try:
#     write_to_file(f)
# finally:
#     f.close()

NameError: name 'path' is not defined