In [1]:
# 元组
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
# tuple() : 其它 --> 元组
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('String')
tup

('S', 't', 'r', 'i', 'n', 'g')

In [6]:
# 使用 [] 获取 元组中的元素
tup[0]

'S'

In [7]:
tup  = tuple(['foo', [1, 2], True])
# tup[2] = False    # 元组一旦创建，则不能修改

TypeError: 'tuple' object does not support item assignment

In [8]:
tup

('foo', [1, 2], True)

In [10]:
tup[1].append(3)    # 元组里面存放的元素有列表， 则列表是可以修改的。
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
tup = (4, 5, 6)
a, b, c = tup       # 元组拆包
b

5

In [15]:
tup = 4, 5, (6, 7)

In [16]:
tup

(4, 5, (6, 7))

In [17]:
a, b, (c, d) = tup

In [20]:
a

4

In [21]:
b

5

In [22]:
c

6

In [23]:
d

7

In [24]:
# 交换变量
a, b = 1, 2

In [25]:
a

1

In [26]:
b

2

In [32]:
a, b = b, a
a

2

In [33]:
b

1

(2, 1)

In [35]:
# 拆包的一个常用场景就是遍历元组或列表组成的序列
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [40]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [41]:
values = 1, 2, 3, 4, 5
a, b, *rest  = values
a, b

(1, 2)

In [42]:
rest

[3, 4, 5]

In [44]:
# rest 部分有时表示你想丢弃的数据，rest 这个变量名并没有什么特殊之处，为了方便，有时使用 ‘_’来表示不想要的变量。
a, b, *_ = values
_

[3, 4, 5]

In [45]:
# 元组方法：count()
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)          # 计算某个数值在元组中出现的次数

4

In [ ]:
# 列表
# 长度可变，内容可修改
a_list = [2, 3, 7, None]