In [30]:
!type examples\ex1.csv

﻿a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [31]:
import pandas as pd
df = pd.read_csv('examples/ex1.csv')

In [32]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [33]:
import os
os.getcwd()

'e:\\Coding\\JupyterPro'

In [34]:
pd.read_table('examples/ex1.csv', sep=',')  # 以 , 分割

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [35]:
!type examples\ex2.csv

﻿1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [36]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [37]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])  # 表头内容自定义

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [38]:
names = ['a', 'b', 'c', 'd', 'message']

In [39]:
pd.read_csv('examples/ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [40]:
!type examples\csv_mindex.csv

﻿key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [41]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])

In [42]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [43]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb -0.927272  0.302904  -0.032399 \n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [44]:
result = pd.read_table('examples/ex3.txt', sep='\s+')   # 使用正则表达式 分割

In [45]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb -0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [46]:
!type examples\ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb -0.927272  0.302904  -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [47]:
!type examples\ex4.csv

﻿# 嘿！,,,,
a,b,c,d,message
# 只是为了让你觉得更难,,,,
# 谁用计算机读取CSV文件？,,,,
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [48]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [49]:
!type examples\ex5.csv

﻿something,a,b,c,d,message
one,1,2,3,4,
two,5,6,,8,world
three,9,10,11,12,foo

In [50]:
result = pd.read_csv('examples/ex5.csv')

In [51]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [52]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [57]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])

In [58]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [59]:
sentinels = {'message' : ['foo', 'NA'], 'something' : ['two']}

In [60]:
sentinels

{'message': ['foo', 'NA'], 'something': ['two']}

In [61]:
result = pd.read_csv('examples/ex5.csv', na_values=sentinels)

In [62]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN